:root {
    --max-width: 500px; 
}  

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.description {
    max-width: var(--max-width);
    text-align: left;
    margin: auto;
}

#expression {
    text-align: center;
}

/* https://stackoverflow.com/questions/5127937/how-to-center-canvas-in-html5 */
#network {
    max-width: var(--max-width);
    height: 500px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.hidden {
    display: none;
}

#expression {
    max-width: var(--max-width);
    margin-bottom: 0;
}

.expression-input p {
    font-size: 1.3rem;
    margin-bottom: 0;
}

.expression-input, .expression-controls,
#display-result, .step-controls {
    margin-top: 2rem;
}

ion-icon {
    font-size: 40px;
    color: #6e5494;
}

footer {
    margin-top: 3rem;
    margin-bottom: 2rem;
}